@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter Variable', sans-serif;
	font-weight: 800;
}
